@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PingFang SC', 'Microsoft YaHei', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

